a {
    text-decoration: none;
    font-style: 23px;
    color: #FF008A;
    font-style: normal;
    font-weight: normal;
}
.login {
    margin-top: 54px;
}
.formAll {
    margin-top: 70px;
    margin-bottom: 103px;
}
.inputAll {
    width: 100%;
    border: 3px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 40px;
    margin-top: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.buttonAll {
    margin-top: 20px;
    border: none;
    width: 100%;
    background: #FF008A;
    border-radius: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

.formAll_form {
    text-align: center;
}

.authA {
    font-size: 16px;
    line-height: 29px;
}

.reg {
    margin: 100px auto;
}