body {
    background-image: url('../img/53.png');
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: scroll;
    background-position-y: 100px;
    background-size: 760px;
    position: relative;
    font-family: 'Montserrat', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Montserrat', sans-serif;
}
