* {
    outline: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

body,
img {
    border: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #000000;
}

.pink {
    color: #FF008A;
}

/* edit_icons */
.editSum div {
    margin-top: 15px;
}

.editSum_completed:hover,
.editSum_edit:hover,
.editSum_del:hover {
    opacity: 50%;
}

/* HEADER  */
.index-container__header ul li {
    margin-right: 30px;

}

.navbar-brand {
    font-weight: bold;
    font-size: 16px;
}

.authCheck a {
    color: #FF008A;
}

.index-container__header ul li a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #000000;

}

/* INDEX H1 */



.allIndex {
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 66px;
}

.index__h1 {
    margin-top: 200px;
}

.index__h1 h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;
}

.index__h1 p {
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 39px;
    color: #000000;
}

.allButtons {
    background: #FF008A;
    border-radius: 50px;
    font-style: normal;
    font-weight: bold;

    line-height: 29px;

    color: #FFFFFF;
}

.index__h1_button {

    background: #FF008A;
    border-radius: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    margin-top: 62px;
    color: #FFFFFF;
    border: none;

    width: 370px;
    padding: 25px 0;
}

.index__history_date span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #616161;

}

.index__history_spanTwo {
    margin-left: 80px;
}

.history_one__h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;


    color: #000000;
}

/* INDEX HISTORY */


.index_history-title {
    text-decoration: none;
}

.index__history h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-decoration-line: underline;

    color: #000000;
}

.index__history {
    margin-top: 350px;
}

.index__history_header,
.index__history_date {
    margin-bottom: 30px;
}

.index__history_head {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 70px;
    padding-left: 70px;
    background: #FFFFFF;
    border: 3px solid #ABABAB;
    box-sizing: border-box;
    border-radius: 50px;
}

/* index__history_date */

.index__history_date span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #616161;
}

/* index__hisotry_p */
.index__history_p p {

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}


/* FEATURES */
.index__features {
    margin-top: 188px;
}

.features__col_Main p {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

    margin-top: 25px;
}

.features__button {
    margin-top: 110px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;

    color: #FFFFFF;

    background: #FF008A;
    border-radius: 80px;
    border: none;

    width: 370px;
    padding: 30px 0;
}

/* FOOTER */
.footer {
    margin-top: 188px;
}

.bg_grey_footer {
    padding: 35px 0;
    background: #EEEEEE;
}

.bg_white_footer {
    padding: 30px 0;
    background: #C8C8C8;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    /* identical to box height */

    color: #FFFFFF;
}



/* PROFILE  */
.profile {
    margin-top: 128px
}

.profile_allWork {
    margin-top: 128px;
}


/* modal - window */
.modalwindow {
    background-color: blueviolet;
    border: none;
    color: white;
    transform: translateX(120%);
}
.sendModal {
    background-color: blueviolet;
    border: none;
    color: white 
}
@media (max-width: 750px) {

    .index__h1 h1,
    p {
        text-align: center;
    }

    .index__h1_button {
        margin-left: 50px;
    }

    body {
        background: none;
    }
}
